/* Creator Panel */
.upload-section {
  margin: 20px;
  padding: 20px;
  background: #111;
  border-radius: 12px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: #fff;
}

.video-list {
  padding: 20px;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  gap: 20px;
}

.video-card {
  background: #111;
  padding: 15px;
  border-radius: 12px;
}

.video-thumb {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #111;
  padding: 30px;
  width: 90%;
  max-width: 420px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hidden {
  display: none;
}